<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="../css/style.css">
  <!-- FavIcon -->
  <link rel="apple-touch-icon" sizes="180x180" href="../favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../favicon_io/favicon-16x16.png">
  <link rel="manifest" href="../favicon_io/site.webmanifest">
  <link rel="stylesheet" href="../css/main_styles.css" />
  <title>Bravo 6 Security</title>
</head>
<body class="img js-fullheight">
  <main>
    <div class="center">
      <div class="card">
        <div class="inner container">
          <h1 class="heading">Video Feed</h1>
          <video>

          </video>
        </div>
      </div>
      <div class="card info">
        <div class="inner container">
          <h1 class="heading">Security System</h1>
        </div>
      </div>
    </div>
  </main>
</body>
</html>