<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="../css/style.css">
  <!-- FavIcon -->
  <link rel="apple-touch-icon" sizes="180x180" href="../favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../favicon_io/favicon-16x16.png">
  <link rel="manifest" href="../favicon_io/site.webmanifest">
  <link rel="stylesheet" href="../css/main_styles.css" />
  <title>Bravo 6 Security</title>
</head>
<body class="img js-fullheight">
  <main>
    <div class="center">
      <div class="card">
        <div class="inner container">
          <h1 class="heading">Video Feed</h1>
          <img src="http://192.168.2.12:9000?action=stream" />
          <div class="chart">
            <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1358279/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
          </div>
          <video>

          </video>
        </div>
      </div>
      <div class="card info">
        <div class="inner container">
          <h1 class="heading">Security System</h1>
          <table class="conversion-rate-table">
            <thead class="table__head">
            <tr class="table__headers">
              <th class="header" scope="col">Entry Time</th>

              <th class="header" scope="col">Entry ID</th>

              <th class="header" scope="col">Motion Detected</th>

            </tr>
            </thead>

            <tbody class="table__content">
              <% for(let i = 0; i < motion.feeds.length; i++) {%>
              <tr class="table__row">
                <td class="row__cell"><%= motion.feeds[i].created_at %></td>

                <td class="row__cell"><%= motion.feeds[i].entry_id %></td>

                <td class="row__cell"><%= motion.feeds[i].field1 > 0 ? "Yes" : "No" %></td>
              </tr>
            <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
  <script>
    function reloadPage(){
      window.location.reload();
    }
    setInterval(reloadPage, 30000);
  </script>
</body>
</html>